@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800&family=Lora&display=swap');


/* fonts and text */

.text-shadow{
    text-shadow: 1px -1px grey;
}

.nav-style{
    text-shadow: -2px -2px 0px #054A91, 2px -2px 0px #054A91, -2px -1px 0px #054A91, 2px 2px 0px #054A91;
}

.brand-logo{
    font-family: 'Lora', serif;
}

.nav-style,
.sidenav,
.card,
h2,
#footer-text{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

#footer-text{
    color: white;
}

.review-by-text{
    font-weight: 400;
    font-style: italic;
}

a.modal-trigger{
    color: black;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Lora', serif; */

/* Header & nav */

.sidenav{
    height: fit-content;
    border-bottom-left-radius: 15px;
    width: max-content;
}

.brand-logo{
    width: fit-content;
}

.nav-style li a{
    padding-left: 10px;
    padding-right: 10px;
}

/* Colors */

.nav-wrapper,
#footer{
    background: repeating-linear-gradient( to right, #054A91, #054A91 60px, #3E7CB1 60px, #3E7CB1 62px);
}

.sidenav,
#page-container,
.modal{
    background-color: #EEF6FF;
}

.submit-btn{
    background-color: #054A91;
    color: white;
}

.submit-btn:hover{
    background-color: #125598;
}

.submit-btn:focus{
    background-color: #125598;
}

.reset-btn{
    background-color: #3E7CB1;
}

.reset-btn:hover{
    background-color: #3171aa;
}

.reset-btn:focus{
    background-color: #3171aa;
}

/* Horizantal rule */

.hr-title{
    width: 20vw;
    margin-bottom: 20px;
    border-color: #3e7cb1;
}

/* Book Cards */

.book-card-content{
    height: 100%;
}

.book-card-img{
    height: 75%;
}


.modal.delete-modal,
div.modal-footer.delete-btn {
    text-align: center;
}

/* Modal */

.col.modal-col{
    max-width: 50%;
 }  

 @media (max-width: 576px) {
    .col.modal-col{
        max-width: 100%;
        display: table-cell;
 }  
    .modal-table{
        display: table;
        width: 100%;
    }
    .book-cover{
        max-height: 55vh;
        margin-top: 25px;
    }
}

.modal-table{
    margin-top: 10px;
}

 .modal-close-btn{
    top: 0;
    right: 10px;
    position: fixed;
    font-size: 25px;
    color: black;
 }

/* For footer - From https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;            /* Footer height */
}