@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800&family=Lora&display=swap');


/* fonts and text */

.text-shadow{
    text-shadow: 1px -1px grey;
}

.nav-style{
    text-shadow: -2px -2px 0px #054A91, 2px -2px 0px #054A91, -2px -1px 0px #054A91, 2px 2px 0px #054A91;
}

.brand-logo{
    font-family: 'Lora', serif;
}

.nav-style,
.sidenav,
.card,
h2,
h3,
#footer-text{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

#footer-text{
    color: white;
}

.review-by-text{
    font-weight: 400;
    font-style: italic;
}

.fal.fa-arrow-circle-left,
.fal.fa-arrow-circle-right{
    font-weight: bold;
    font-size: 15px;
}

a.library-card-text{
    color: black;
}

.sidenav li>a{
    font-size: 18px;
}

/* Header & nav */

.sidenav{
    height: fit-content;
    border-bottom-left-radius: 15px;
    width: max-content;
}

.brand-logo{
    width: fit-content;
}

.nav-style li a{
    padding-left: 10px;
    padding-right: 10px;
}

header ul.sidenav{
    padding-bottom: 0.75rem;
}

.sidenav li>a{
    margin: 2.5rem;
}

/* Colors */

.nav-wrapper,
#footer{
    background: repeating-linear-gradient( to right, #054A91, #054A91 60px, #3E7CB1 60px, #3E7CB1 62px);
}

.sidenav,
#page-container,
.modal,
div.modal-footer.delete-btn{
    background-color: #EEF6FF;
}

a.modal-trigger.dark-btn,
.dark-btn{
    background-color: #054A91;
    color: white;
}

.dark-btn:hover{
    background-color: #125598;
}

.dark-btn:focus{
    background-color: #125598;
}

.light-btn{
    background-color: #3E7CB1;
    color: white;
}

.light-btn:hover{
    background-color: #3171aa;
}

.light-btn:focus{
    background-color: #3171aa;
}

/* Hide */

.hide{
    display: none;
}

/* Mobile view */

@media (max-width: 576px) {
    .cancel-submit-delete-btns{
        display: grid;
        display: -moz-grid;
        display: -ms-grid;
    }
    .cancel-submit-delete-btns .grid-btn{
        margin: .5rem;
    }
}

/* Horizantal rule */

.hr-title{
    width: 20vw;
    margin-bottom: 20px;
    border-color: #3e7cb1;
}

/* Book Cards */

div.card-content.book-card-content{
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.book-card-img{
    height: 75%;
}

div.card-content.book-card-content.admin-book-card{
    padding-bottom: 65px;
}

/* Flash Message */

.flash-msg-text{
    background-color: #125598;
    color: white;
    padding: .75rem;
    margin: .75rem;
}

/* Modal */

.modal.delete-modal,
div.modal-footer.delete-btn {
    text-align: center;
}

.col.modal-col{
    max-width: 50%;
 }  

@media (max-width: 576px) {
    .col.modal-col{
        max-width: 100%;
        display: table-cell;
    }  
    .modal-table{
        display: table;
        width: 100%;
    }
    .book-cover{
        max-height: 55vh;
        margin-top: 25px;
    }
}

.modal-table{
    margin-top: 10px;
}

 .modal-close-btn{
    top: 0;
    right: 10px;
    position: fixed;
    font-size: 25px;
    color: black;
}

/* Scrollspy */

.table-of-contents a.active {
    border-left: 2px solid #3e7cb1;
}

.table-of-contents a:hover {
    border-left: 1px solid #3e7cb1;
}

li.scroll-header{
    padding-left: 16px;
    text-decoration: underline;
}

ul.admin-scrollspy{
    top: 50vh;
}

 /* Up arrow on mobile */

i.arrow-up{
    position: fixed;
    font-size: 45px;
    color: #054A91;
    bottom: 5vh;
    left: 85vw;
}

/* Library */

.search-library{
    margin-left: .75rem;
    margin-right: .75rem;
}

div.col.search-btns{
    padding-left: 0;
    padding-right: 0;
}

/* Admin */

h3.admin-subheader{
    padding-left: 10px;
}

/* Truncate over 2 lines -- Code below found here: https://dropshado.ws/post/1015351370/webkit-line-clamp */

.card a span.card-title.truncate-special{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* For footer - From https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;            /* Footer height */
}