/* .book-cover {
    max-width: 20vw;
} */

/* div.card.card-style {
    max-width: fit-content;
} */

.modal.delete-modal,
div.modal-footer.delete-btn {
    text-align: center;
}

/* For footer - From https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}