{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Edit Book</h2>
<h2 class="center-align">{{ users }}</h2>


<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('admin_edit_book', book_id=book._id) }}">
        <!-- Title -->
        <div class="row">
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="book_title" name="book_title" maxlength="30" value="{{ book.book_title }}" type="text" class="validate" required>
                <label for="book_title">Title</label>
            </div>
        </div>
        <!-- Author -->
        <div class="row">
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="book_author" name="book_author" maxlength="30" value="{{ book.book_author }}" type="text" class="validate" required>
                <label for="book_author">Author</label>
            </div>
        </div>
        <!-- Genre dropdown -->
        <div class="input-field col s12">
            <select id="genre_name" name="genre_name" class="validate" required>
                <option value="" disabled>Choose Genre</option>
                {% for genres in genre %}
                    {% if genres.genre_name == book.genre_name %}
                        <option value="{{ genres.genre_name }}" selected>{{ genres.genre_name|title() }}</option>
                    {% else %}
                        <option value="{{ genres.genre_name }}">{{ genres.genre_name|title() }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="genre_name">Genre</label>
        </div>
        <!-- Cover image -->
        <div class="row">
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="book_cover" name="book_cover" value="{{ book.book_cover }}" type="url" class="validate" required>
                <label for="book_cover">Cover Image</label>
            </div>
        </div>
        <!-- Review text -->
        <div class="row">
            <div class="input-field col s12">
                <i class="prefix"></i>
                <textarea id="book_review" name="book_review" minlength="10" maxlength="500" type="text" class="materialize-textarea" required>
                {{- book.book_review -}}
                </textarea>
                <label for="book_review">Review</label>
            </div>
        </div>
        <!-- Review by -->
        <div class="row">
            <div class="input-field col s12">
                <i class="prefix"></i>
                <input id="review_by" name="review_by" minlength="2" maxlength="30" value="{{ book.review_by }}" type="text" class="validate" required>
                <label for="review_by">Review By</label>
            </div>
        </div>
        <!-- Submit & cancel button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('admin', username=session['user']) }}" class="btn red waves-effect waves-light">
                Cancel
                <i class="right"></i>
                </a>
                <button class="btn waves-effect waves-light" type="submit">Edit Book
                <i class="right"></i>
                </button>
                <a class="waves-effect waves-light btn modal-trigger red" href="#{{ book._id }}">Delete</a>
            </div>
        </div>
    </form>
</div>

  <div id="{{ book._id }}" class="modal delete-modal">
    <div class="modal-content">
      <h4>Are you sure you want to permanently delete '{{ book.book_title|title() }}'?</h4>
    </div>
    <div class="modal-footer delete-btn">
        <a class="btn waves-effect waves-light" href="{{ url_for('admin_edit_book', book_id=book._id) }}">Cancel</a>
        <a class="waves-effect waves-light btn red" href="{{ url_for('admin_delete_book', book_id=book._id) }}">Delete</a>
    </div>
  </div>

{% endblock %}