{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="center-align">
        <div id="top" class="section scrollspy">
            <a class="waves-effect waves-light btn btn-large light-btn prefix"
                href="{{ url_for('admin', username=session['user']) }}">
                <i class="fal fa-arrow-circle-left"></i> Admin page</a>
        </div>
    </div>

    <h2 class="center-align">Add Genre</h2>

    <div class="row">
        <form class="col s12 m8 offset-m2 l6 offset-l3" method="POST" action="{{ url_for('edit_genre') }}">
            <!-- Genre -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="add_genre_name" name="add_genre_name" maxlength="30" type="text" class="validate"
                        required>
                    <label for="add_genre_name">Title</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('admin', username=session['user']) }}"
                        class="btn waves-effect waves-light dark-btn">
                        Cancel
                        <i class="right"></i>
                    </a>
                    <button class="btn waves-effect waves-light light-btn" type="submit">Add Genre
                        <i class="right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <h2 class="center-align">Delete Genre</h2>

    <div class="row">
        {% for genres in genre %}

        <div class="col s10 offset-s1 m6 l4">
            <a class="modal-trigger" href="#{{ genres._id }}">
                <div class="card card-style">

                    <div class="card-content text-shadow light-btn center-align">

                        <span class="card-title truncate">{{ genres.genre_name|title() }}</span>
                    </div>
                </div>
            </a>
        </div>


        <div id="{{ genres._id }}" class="modal delete-modal">
            <div class="modal-content">
                <h4>Are you sure you want to permanently delete '{{ genres.genre_name|title() }}'?</h4>
            </div>
            <div class="modal-footer delete-btn">
                <a class="btn waves-effect waves-light light-btn" href="{{ url_for('edit_genre') }}">Cancel</a>
                <a class="waves-effect waves-light btn dark-btn"
                    href="{{ url_for('delete_genre', genre_id=genres._id) }}">Delete</a>
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="col hide-on-med-and-up">
        <a href="#top"><i class="fad fa-arrow-alt-square-up arrow-up"></i></a>
    </div>
    {% endblock %}