{% extends "base.html" %}
{% block content %}
    <h2>The Library</h2>

    

       
    

{% for book in books %}

    {% if book.genre_name|length > 0 %}
    <h2>{{ book.genre_name }}</h2> 
            {% endif %}

       {{ book.genre_name }}<br>
        {{ book.book_title }}<br>
        {{ book.book_author }}<br>
        {{ book.genre_name }}<br>
        {{ book.book_cover }}<br>
         <img class="book-cover" src="{{ book.book_cover }}" alt="{{ book.book_title }}" /><br>
        {{ book.book_review }}

    
    {% endfor %}

{% endblock %}