{% extends "base.html" %}
{% block content %}
<div id="top" class="section scrollspy">
    <h2 class="center-align">The Library</h2>
    <hr class="hr-title">
</div>
<!-- Search -->
<div class="row card-panel search-library">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper centre-align">
            <div class="input-field col s12 m8 offset-m2">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query" class="truncate">Search Books, Authors & Genres</label>
            </div>
        </div>
        <div class="row valign-wrapper center-align">
            <div class="col s12 m6 offset-m3 search-btns">
                <a href="{{ url_for('library') }}" class="btn light-btn">Reset</a>
                <button type="submit" class="btn dark-btn">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
<!-- sort buttons -->
<div class="row">
    <div class="col s12 center-align cancel-submit-delete-btns">
        <a href="{{ url_for('library') }}" class="btn grid-btn dark-btn">Sort by Title</a>
        <a href="{{ url_for('library_author_sort') }}" class="btn grid-btn light-btn">Sort by Author</a>
        <a href="{{ url_for('library_genre_sort') }}" class="btn grid-btn dark-btn">Sort by Genre</a>
    </div>
</div>
{% if books|length > 0 %}
<div class="row">
    <!-- Book Cards -->
    {% for book in books %}
    <div class="col s12 m6 l4">
        <div class="card large center-align">
            <div class="card-content book-card-content">
                <a href="#{{ book._id }}" class="modal-trigger library-card-text">
                    <img src="{{ book.book_cover }}" class="book-card-img">
                    <span class="card-title truncate-special">{{ book.book_title|title() }}</span>
                    <p>{{ book.book_author|title() }}</p>
                    <p>{{ book.genre_name|title() }}</p>
                </a>
            </div>
        </div>
    </div>
    <!-- modal for book info -->
    <div id="{{ book._id }}" class="modal">
        <div class="row valign-wrapper centre-align modal-table">
            <div class="modal-col col">
                <img class="book-cover responsive-img valign-wrapper" src="{{ book.book_cover }}"
                    alt="{{ book.book_title }}" />
            </div>
            <div class="modal-col col">
                <div class="modal-content">
                    <h3>{{ book.book_title|title() }}</h3>
                    <h4>{{ book.book_author|title() }}</h4>
                    <h4>{{ book.genre_name|title() }}</h4>
                    <p>{{ book.book_review }} - <span class="review-by-text">{{ book.review_by }}</span></p>
                    <a href="https://www.amazon.co.uk/s?k={{ book.book_title }}+{{ book.book_author }}"
                        class="btn light-btn" target="_blank">Buy Here</a>
                </div>
            </div>
        </div>
        <a href="#!" class="modal-close modal-close-btn"><i class="fal fa-times-circle"></i></a>
    </div>
    {% endfor %}
</div>
<!-- Scrollspy -->
<div class="col hide-on-large-only">
    <a href="#top"><i class="fad fa-arrow-alt-square-up arrow-up"></i></a>
</div>
{% else %}
<h2>No Results</h2>

{% endif %}
{% endblock %}