{% extends "base.html" %}
{% block content %}
    <h2>The Library</h2>





{% for book in books %}
{% for genres in genre %}

    {% if book.genre_name == genres.genre_name %}

    <h2>{{ book.genre_name }}</h2> 

            {% endif %}
            {% endfor %}

       {{ book.genre_name }}<br>
        {{ book.book_title }}<br>
        {{ book.book_author }}<br>
        {{ book.genre_name }}<br>
        {{ book.book_cover }}<br>
         <img class="book-cover" src="{{ book.book_cover }}" alt="{{ book.book_title }}" /><br>
        {{ book.book_review }}
       <a href="https://www.amazon.co.uk/s?k={{ book.book_title }}+{{ book.book_author }}" target="_blank">Buy Here</a>

    
    {% endfor %}

{% endblock %}