{% extends "base.html" %}
{% block content %}



<h2 class="center-align">{{ username|capitalize() }}'s Profile</h2>
<hr class="hr-title">
<div class="row">
<div class="col">
<a class="waves-effect waves-light btn btn-large submit-btn" href="{{ url_for('edit_profile', user_id=user._id) }}">Edit User Profile</a>
</div>
</div>

<div class="row">

    {% for book in books %}



    <div class="col s12 m6 l4 xl3">
        <div class="card large center-align">
            <div class="card-content book-card-content">

                <!-- <div class="card-image"> -->
                <img src="{{ book.book_cover }}" class="book-card-img">
                <span class="card-title">{{ book.book_title|title() }}</span>
                <p>{{ book.book_author|title() }}</p>
                <a class="waves-effect waves-light btn modal-trigger"
                    href="{{ url_for('edit_book', book_id=book._id) }}">Edit</a>
                <a class="waves-effect waves-light btn modal-trigger" href="#{{ book._id }}">Delete</a>
            </div>
        </div>
    </div>


    <div id="{{ book._id }}" class="modal delete-modal">
        <div class="modal-content">
            <h4>Are you sure you want to permanently delete '{{ book.book_title|title() }}'?</h4>
        </div>
        <div class="modal-footer delete-btn">
            <a class="btn waves-effect waves-light" href="{{ url_for('profile', username=session['user']) }}">Cancel</a>
            <a class="waves-effect waves-light btn red" href="{{ url_for('delete_book', book_id=book._id) }}">Delete</a>
        </div>
    </div>


    {% endfor %}
</div>
{% endblock %}
