{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Sign Up</h2>
    <div class="row">
        <form class="col s12 m8 offset-m4" method="POST" action="{{ url_for('sign_up') }}">
        <!-- First Name -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="prefix far fa-book-user"></i>
                    <input id="first_name" name="first_name" type="text" minlength="2" maxlength="25" pattern="^[A-Za-z -]+$" class="validate" required>
                    <label for="first_name">First Name</label>
                    <span class="helper-text" data-error="Please enter a valid first name"></span>
                </div>
            </div>
            <!-- Last Name -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="prefix far fa-book-user"></i>
                    <input id="last_name" name="last_name" type="text" minlength="2" maxlength="25" pattern="^[A-Za-z -]+$" class="validate" required>
                    <label for="last_name">Last Name</label>
                    <span class="helper-text" data-error="Please enter a valid last name"></span>
                </div>
            </div>
            <!-- Username -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="prefix fad fa-user-tie"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="20" pattern="^[A-Za-z0-9]+$" class="validate" required>
                    <label for="username">Username</label>
                    <span class="helper-text" data-error="Please enter a valid username"></span>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="prefix far fa-asterisk"></i>
                    <input id="password" name="password" type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^...]).{8,}$" class="validate" required>
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Password must contain at least one capital letter, number and special character">Password must contain at least 8 character, one capital letter, number and special character</span>
                </div>
            </div>
            <!-- Sign Up Button -->
            <div class="row">
                <button type="submit" class="col s6 waves-effect waves-light btn-large">
                    <i class="far fa-sign-in-alt"></i> Sign Up
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
            Already signed up? <a href="{{ url_for('login') }}" class="btn">Login Here</a>
            </p>
        </div>
    </div>
{% endblock %}